*{
    padding: 0;
    margin: 0;
}

body{
    /* text-align: center; */
    display: flex;

    /* align-items: center; */
    justify-content: center;
}

.fill-form{
    height: auto;
    max-width: 500px;
    width: 50%;
    padding: 40px;
    border: none;
    background-color: wheat;
    border-radius: 12px;
    margin-top: 30px;
    text-align: center;
   
}

.form-inputs{
    margin-bottom: 30px;
}

.form-inputs input{
    padding: 8px;
    margin-left: 10px;
    border: none;
    outline: none;
    margin-left: 20px
}

#submit-btn, #clr-btn{
    padding:7px;
    margin:5px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btns{
    text-align: center;
    margin-top: 30px;
}